@import '../../../shared/styles/global-styles.scss';

:host {
  margin-block-start: 0;
}

header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2vh;
  padding-right: 8vw;
  padding-bottom: 2vh;
  padding-left: 8vw;
  div {lkjjj
    p {jjj
      font-size: $font-size--medium;
      margin: 0;
      padding: 0;
      line-height: 1.5;
      cursor: pointer;
    }
  }

  nav {
    position: relative;
    .nav {
      cursor: pointer;
      p {
        font-size: $font-size--x-small;
        letter-spacing: 1px;
      }
      button {
        border: none;
        background-color: inherit !important;
        font-size: 10px;
        margin: 0;
        padding: 0;
        margin-left: .35em;
        cursor: pointer;
        svg {
          padding: 0;
          margin: 0;
          margin-top: .4em;
        }
      }
    }
    .nav-list {
      display: none;
      border: 1px solid #00000026;
      background-color: white;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 100%;
      left: -1;
      min-width: 191px;
      width: auto;
      list-style-type: none;
      align-items: normal;
      li {
        list-style-type: none;
        margin: 0;
        padding: unset;
        padding: .4em .9em;
        a {
          padding: 0;
          margin: 0;
          font-size: $font-size--x-small;
          line-height: 1.5;
          letter-spacing: 1px;
          cursor: pointer;
        }
      }
    }

    .nav:hover + .nav-list {
      display: block;
    }

    .nav-list:hover {
      display: block;
    }
  }
}

.underline:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.8px !important;
  text-underline-offset: 0.2em;
}