
@if (navMenuPopup === true) {
  <div class="menu-container">
    <button (click)="navMenuPopup = false" style="color:#000000;">close</button>
    <div class="width-hundred flex-justify-content-center">
      <ul class="nav-list flex-text-align-center">
        <li class="home"><a href="https://rccanuto.com" style="color:#000000;" >home</a></li>
        <li><a class="underline" href="https://rccanuto.com/home/information" style="color:#000000;">information</a></li>
        <li><a class="underline" href="https://rccanuto.com/home/our_story" style="color:#000000;">our story</a></li>
        <li><a class="underline" href="https://rccanuto.com/home/contact" style="color:#000000;">contact us</a></li>
        <li><a class="underline" href="https://rsvp.rccanuto.com" style="color:#000000;">rsvp</a></li>
        <li><a class="underline" href="https://rccanuto.com/home/registry" style="color:#000000;">registry</a></li>
      </ul>
    </div>
  </div>
}
<header>
  <div class="flex-align-items-center flex-justify-content-between">
    <div>
      <p>
        <a class="underline" href="https://rccanuto.com" style="color:#000000;">rochelle & carlo</a>
      </p>
    </div>
    <div>
      <div class="nav flex-direction-row">
        <button class="menu-btn" href="https://rccanuto.com" (click)="navMenuPopup = true" style="color:#000000;" >menu</button>
      </div>
    </div>
  </div>
</header>