
@if (navMenuPopup === true) {
  <div class="menu-container">
    <button (click)="navMenuPopup = false">close</button>
    <div class="width-hundred flex-justify-content-center">
      <ul class="nav-list flex-text-align-center">
        <li class="home"><a>home</a></li>
        <li><a class="underline">information</a></li>
        <li><a class="underline">our story</a></li>
        <li><a class="underline">contact us</a></li>
        <li><a class="underline">rsvp</a></li>
        <li><a class="underline">registry</a></li>
      </ul>
    </div>
  </div>
}
<header>
  <div class="flex-align-items-center flex-justify-content-between">
    <div>
      <p>
        <a class="underline" href="https://rccanuto.com" style="color:#000000;">rochelle & carlo</a>
      </p>
    </div>
    <div>
      <div class="nav flex-direction-row">
        <button class="menu-btn" href="https://rccanuto.com" (click)="navMenuPopup = true">menu</button>
      </div>
    </div>
  </div>
</header>