<div class="title">
  <h2>rsvp</h2>
</div>
<div class="form-container flex-justify-content-center">
  <div class="rsvp-form">
    @if (page === pageEnum[1] && pageAnimation === false) {
      <div @fadeInOut (@fadeInOut.done)="onLeaveAnimationDone($event)">
        <search-rsvp (pageOutput)="curPage($event)"></search-rsvp>
      </div>
    }
    @else if (page === pageEnum[2] && pageAnimation === false) {
      wow
    }
    @else if (page === pageEnum[3] && pageAnimation === false) {
      <div @fadeInOut (@fadeInOut.done)="onLeaveAnimationDone($event)">
        <guests-list (pageOutput)="curPage($event)"></guests-list>
      </div>
    }
    @else if (page === pageEnum[4] && pageAnimation === false) {
      <div @fadeInOut (@fadeInOut.done)="onLeaveAnimationDone($event)">
        <allergies (pageOutput)="curPage($event)"></allergies>
      </div>
    }
    @else if (page === pageEnum[5] && pageAnimation === false) {
      <div @fadeInOut (@fadeInOut.done)="onLeaveAnimationDone($event)">
        <plus-one (pageOutput)="curPage($event)"></plus-one>
      </div>
    }
    @else if (page === pageEnum[6] && pageAnimation === false) {
      <div @fadeInOut (@fadeInOut.done)="onLeaveAnimationDone($event)">
        <song-request (pageOutput)="curPage($event)"></song-request>
      </div>
    }
    @else if (page === pageEnum[7] && pageAnimation === false) {
      <div @fadeInOut (@fadeInOut.done)="onLeaveAnimationDone($event)">
        <thank-you></thank-you>
      </div>
    }
  </div>
</div>