@import '../../../shared/styles/global-styles.scss';

:host {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.4vh;
    padding-right: 0;
    padding-bottom: 3vh;
    padding-left: 0;
  h2 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: $font-size--xx-large;
  }
}

.form-container {
  padding-right: 4vw;
  padding-left: 4vw;
}

.rsvp-form {
  max-width: 620px;
}


.description {
  margin-bottom: 20px;
  p {
    text-align: center;
    line-height: 1.5;
    font-size: $font-size--medium;
  }
}
