@import '../../../shared/styles/global-styles.scss';
@import '../../../shared/styles/cssanimation.css';


.info {
  font-size: $font-size--medium;
  width: 100%;
  text-align: center;
}

.page-1 {
  width: 100%;

  .info {
    line-height: 30px;
    letter-spacing: 1px; 
    font-size: $font-size--small;
  }

  p {
    text-wrap: wrap;
    font-size: $font-size--large;
    margin-right: 10px;
  }

  input {
    display: inline;
    width: 100%;
    padding-bottom: 1px;
    border: none;
    border-bottom: solid 1px #ab5429;
    color: #ab5429;
    outline: none;
    background-color: inherit;
    font-size: $font-size--large;
    font-family: $cardo;
    font-weight: 400;
    padding-left: 10px;
    text-align: center;
  }
}

// #ab5429
.button {
  border: none;
  background-color: inherit;
  margin-top: 3vh;
  font-size: $font-size--large;
  font-family: $cardo;
  font-weight: 400;
  cursor: pointer;
  color: #ab5429;
}

.cb-container {
  width: 100%;

  .cb-width {
    width: 65%;

    .checkbox {
      border: none;
    }
  }
}


.checkbox-label {
  margin-left: 1vw;
  font-size: $font-size--medium;
}

.page-2 {
  width: 100%;

  .info {
    font-size: $font-size--medium;
  }
}

.page-3 {
  width: 100%;

  .allergy-info {
    width: 100%;
    font-size: $font-size--medium;
  }

  textarea {
    box-sizing: border-box;
    max-width: 620px;
    width: 100%;
    resize: none;
    border-radius: 7px;
    border: 1px;
    outline: none;
    padding: 11px 15px;
    font-size: $font-size--medium;
    font-family: $cardo;
    font-weight: 400;
  }
}

.page-4 {
  .info {
    font-size: $font-size--medium;
  }
}

/* Tablets */
@media (min-width: 768px) {
  body {}
}

/* Small Laptops */
@media (min-width: 1024px) {
  body {}
}

/* Desktops */
@media (min-width: 1280px) {

}