@if (page === pageEnum[1] && pageAnimation === false) {
<form (ngSubmit)="searchInviteInfo()" @slideInOut (@slideInOut.done)="onLeaveAnimationDone($event)">
	<div class="flex-direction-row">
		<div class="page-1">
			<div class="flex-direction-column flex-align-items-center">
				<p class="info">
					Please enter the first and last name of one member of your group below. <br> If you're responding for yourself and
					a guest or your family you will be able to RSVP for your entire group on the next page.
				</p>
				<input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="First and Last Name">
				@if (searchError === true) {
				<p class="error">Oops! We're having trouble finding your invite. Please enter your full name or contact us through this <a href="https://rccanuto.com/home/contact“style=">form </a> for help. Thank you!</p>
				}
			</div>
		</div>
	</div>
	<button type="submit" class="button">Next</button>
</form>
} @else if (page === pageEnum[2] && pageAnimation === false) {

} @else if (page === pageEnum[3] && pageAnimation === false) {
<form (ngSubmit)="selectRsvp()" @slideInOut (@slideInOut.done)="onLeaveAnimationDone($event)">
	<div class="page-2 flex-direction-row flex-justify-content-center">
		<p class="info">Who are we <span style="color: #ab5429">expecting to attend </span> <br> the big day?</p>
		<div class="cb-container flex-justify-content-center flex-align-items-center flex-direction-column">
			@for (invitee of rsvpLists.group; track invitee[1]; let i = $index) {
			<div class="flex-justify-content-center">
				<div class="cb-width flex-justify-content-start flex-align-items-center">
					<div>
						<p class="name">
							{{invitee[1]}} {{invitee[3]}}
						</p>
					</div>
					<input class="radio-btn flex-justify-content-end" type="radio" id="attending{{$index}}"
						(click)="selectedInvitee($event, $index)">
					<label [ngClass]="invitee[0] === 'yes' ? 'active' : 'not-active'" class="btn-style" style="margin-right: 5px"
						for="attending{{$index}}">
						{{ invitee[0] === 'yes' ? 'accepted' : 'accept' }}
					</label>
					<input class="radio-btn flex-justify-content-end" type="radio" id="not-attending{{$index}}"
						(click)="selectedInvitee($event, $index)">
					<label [ngClass]="invitee[0] === 'no' ? 'active' : 'not-active'" class="btn-style"
						for="not-attending{{$index}}">
						{{ invitee[0] === 'no' ? 'declined' : 'decline' }}
					</label>
				</div>
			</div>
			}
		</div>
	</div>
	<button type="submit" class="button">Next</button>
</form>
} @else if (page === pageEnum[4] && pageAnimation === false) {
<form (ngSubmit)="allergySubmit()" @slideInOut (@slideInOut.done)="onLeaveAnimationDone($event)">
	<div class="page-3">
		<div>
			<p class="allergy-info">Are there any <span style="color: #ab5429">food allergies</span> or <span
					style="color: #ab5429">restrictions</span> <br />we should be aware of?</p>
		</div>
		<textarea [(ngModel)]="allergy" [ngModelOptions]="{standalone: true}"></textarea>
	</div>
	<button type="submit" class="button" (click)="allergySubmit()">Next</button>
</form>
} @else if (page === pageEnum[5] && pageAnimation === false) {
<form (ngSubmit)="plusOneSubmit()" @slideInOut (@slideInOut.done)="onLeaveAnimationDone($event)">
	<div class="page-4 flex-direction-row flex-justify-content-center">
		<div class="cb-container flex-justify-content-center flex-direction-column">
			<div class="flex-justify-content-center">
				<div class="cb-width flex-justify-content-start flex-align-items-center">
					<input class="checkbox" name="plusOne" type="radio" id="interested" (click)="radioSelect($event)">
					<label class="checkbox-label flex-justify-content-between flex-align-items-center" for="interested">
						<span>Interested</span>
						@if (plusOne === 'yes') {
						<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#ab5429">
							<path
								d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
						</svg>
						} @else if (plusOne === 'no' || plusOne === '') {
						<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000">
							<path
								d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
						</svg>
						}
					</label>
				</div>
			</div>
			<div class="flex-justify-content-center">
				<div class="cb-width flex-justify-content-start flex-align-items-center">
					<input class="checkbox" name="plusOne" type="radio" id="not-interested" (click)="radioSelect($event)">
					<label class="checkbox-label flex-justify-content-between flex-align-items-center" for="not-interested">
						<span>Not-interested</span>
						@if (plusOne === 'no') {
						<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#ab5429">
							<path
								d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
						</svg>
						} @else if (plusOne === 'yes' || plusOne === '') {
						<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000">
							<path
								d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
						</svg>
						}
					</label>
				</div>
			</div>
		</div>
		<p class="info">If you are interested <br>in bringing a +1, please <br>let us know.</p>
	</div>
	<button type="submit" class="button" (click)="plusOneSubmit()">Next</button>
</form>
} @else if (page === pageEnum[6] && pageAnimation === false) {
<form (ngSubmit)="onSubmit()" @slideInOut (@slideInOut.done)="onLeaveAnimationDone($event)">
	<div class="page-5">
		<p class="info">I would love to hear this <span style="color: #ab5429">song</span> play <br /> on the dance
			floor:</p>
		<textarea [(ngModel)]="songRequest" [ngModelOptions]="{standalone: true}"></textarea>
	</div>
	<button type="submit" class="button">Finish</button>
</form>
} @else if (page === pageEnum[7] && pageAnimation === false) {
<div class="page-6 form" @slideInOut>
	<p class="thank-you-info">Thank you for your RSVP!</p>
	<p class="thank-you-info">We can't wait to celebrate with you!</p>
	<p class="thank-you-info">Love, <br /> Rochelle & Carlo</p>
</div>
}